.conteiner {
  max-width: 550px;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.17);
  border-radius: 8px;
  transition: all ease 0.15s;
}

.conteiner:hover {
  box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.15);
}

.header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header p {
  color: rgb(85, 85, 85);
  margin: 0;
  white-space: nowrap;
  margin-left: 8px;
  font-weight: 500;
}

.body h3 {
  margin: 0;
  padding-right: 25px;
  font-weight: 600;
  height: 100%;
  font-size: 20px;
  color: var(--black);
}

.title {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.title div {
  background: rgb(212, 212, 212);
  height: 1px;
  width: 100%;
  color: var(--black);
}

:global(.darkMode) .title div {
  background: rgba(218, 218, 218, 0.212);
}

.body p {
  color: var(--black);
}

.progressBar {
  position: relative;
  height: 13px;
  border-radius: 1000px;
  background: rgb(214, 214, 214);
}

:global(.darkMode) .progressBar {
  background: rgb(54, 54, 54);
}

.progress {
  height: 100%;
  background: var(--red);
  border-radius: 100px;
}

h4 {
  margin: 7px 0 20px;
  display: block;
  text-align: right;
  font-weight: 600;
  color: var(--black);
}

.projectItem {
  justify-self: flex-end;
}

.projectItem:last-child {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.projectItem > button {
  all: unset;
  width: 100%;
  padding: 7px 0;
  border-radius: 8px;
  background: var(--violet);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  justify-self: end;
  color: white;
}
