.conteiner {
    max-width: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.15);
    border-radius: 8px;
  }
  
  .header h2 {
    margin: 0 0 25px;
    font-size: 28px;
    font-weight: 600;
  }
  
  .body h3{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }
  
  .projectItemTitle > p {
    margin: 0;
    padding-right: 25px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .projectItemTitle > div {
    background: rgb(180, 180, 180);
    height: 1px;
    width: 100%;
  }
  
  .progress {
    position: relative;
    height: 15px;
    border-radius: 1000px;
    background: rgb(214, 214, 214);
  }
  
  .progress > div {
    height: 100%;
    width: 75%;
    background: var(--red);
    border-radius: 1000px;
  }
  
  .progress > p {
    position: absolute;
    right: 0;
    bottom: -43px;
    font-weight: 600;
  }
  
  .projectItem:last-child {
    margin: 35px 0 0;
  }
  
  .projectItem > button {
    all: unset;
    width: 100%;
    padding: 7px 0;
    border-radius: 8px;
    background: var(--violet);
    font-size: 17px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  