.container{
    position: relative;
    background: var(--white);
    padding: 20px;

    box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.17);
    border-radius: 8px;
    transition: all ease 0.15s;

    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid var(--separator);
    padding-bottom: 5px;
}
.header h2{
    margin: 0 0 10px;
    font-weight: 600;
}

.graph{
    position: relative;
    padding: 10px 0;
    height: 450px;
    margin: 10px 0;
}

.footer{
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
}

.footer select{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #d4d4d4;
}

.footer select:hover{
  cursor: pointer;
}

.footer select:focus{
  border: 2px solid var(--violet);
  box-shadow: 0 0 0 3px rgba(161, 36, 101, 0.4);
}

.footer input{
    border: 1px solid #bababa;
    border-radius: 8px;
    width: 60px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
