.tasks {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.15);
  padding: 25px;
  width: 35%;
  border-radius: 5px;
}

.tasks_Header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 27px;
}
