.container{
    padding: 20px;
}

.cardsList{
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.specialCard{
    padding: 20px;
}