.conteiner{
    padding: 20px;
}

.cardsList{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 30px;
}

.specialCard{
    padding: 20px;
}