.adContainer{
  margin: 10px;
  padding: 10px;
  width: 350px;
  height: 350px;
  font:20px;
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  border:1px solid rgba(0,0,0,0.1); 
  cursor:pointer;
  float: left;
}
.note{
  line-height: 40px;
}

.adContainer:hover {
  transform: translateY(-8px);
}

.title{
  font-size: 20px;
  font-weight: 600;
}

.date{
  font-size: 19px;
  font-weight: 600;
}

.description{
  font-size: 18px;
  font-weight: 500;
}


