.container {
  padding: 35px;
  width: 100%;
}

.profile {
  /* overflow: hidden; */
  /* border-radius: 8px; */
}

.header {
  border-radius: 8px 8px  0 0;
  height: 170px;
  background-color: #000000;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.profile {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
}

.userInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(199, 199, 199);
  height: 100%;
  white-space: nowrap;
}

.userInfo > img {
  z-index: 1000000;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 8px solid white;
  margin-top: -95px;
}

.userInfo h2 {
  margin: 10px 0 0 0;
  font-weight: 600;
  font-size: 27px;
}

.userInfo p {
  font-size: 18px;
  margin-top: 10px;
}

.socials {
  width: 90%;
  padding-top: 25px;
  margin-top: 15px;
  border-top: 2px dashed rgb(201, 201, 201);
  color: var(--violet);
  display: flex;
  justify-content: center;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.nav {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.nav button {
  padding: 5px 10px !important;
  all: unset;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  color: var(--inactive-menu-item);
  transition: all .15s ease-in-out;
}

.content p {
  margin: 0;
}

.nav button.active {
  background-color: rgba(204, 0, 26, 0.2);
  color: var(--red);
}

.renderContent {
  padding-left: 10px;
}

.imgContainer {
  /* margin-top: 20px; */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}

.imgContainer img {
  /* margin-left: -10px;
  margin-top: 50px;
  width: 270px;
  height: 255px; */
  width: 105%;
  height: 110%;
}