.DeveloperView {
  padding: 25px 30px;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.DeveloperView_Header {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 20px;
}

.DeveloperView_Body {
  display: flex;
  justify-content: space-between;
}
