.DeveloperView{
    background-color: #e5e5e5;
    padding: 10px 50px;
}

.DeveloperView_Header{
    padding: 10px 20px;
    border-bottom: 2px solid #949494;
    margin-bottom: 50px;
}

.DeveloperView_Body{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
