.conteiner {
  padding: 25px 0 25px 30px;
  width: 100%;
  min-height: calc(100vh - 70px);
  height: auto;
  overflow-y: scroll;
}

.conteinerHeader {
  margin-bottom: 50px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--separator);
  padding-bottom: 20px;
}

.conteinerBody {
  padding: 0 30px 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
}
.conteinerHeader input {
  all: unset;
  border-radius: 8px;
  display: flex;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.conteinerHeader input:focus {
  border: 2px solid var(--violet);
  box-shadow: 0 0 0 3px rgba(161, 36, 101, 0.4);
}
.userBlobs {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.more {
  background-color: var(--violet);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-weight: 600;
  color: white;
  user-select: none;
  border: 3px solid var(--bgColor);;
}

.userBlobs img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: -10px;
  border: 3px solid var(--bgColor);;
}
