.chatBox {
  position: fixed;
  bottom: 20px;
  right: 130px;
  height: 500px;
  width: 380px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  animation: scale-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header {
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 214, 214);
  flex-shrink: 0;
}

.header p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
}

.header button {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--black);
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 70%;
}

.mine.message {
  align-self: flex-end;
}

.message img {
  margin-top: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.messageContent {
  width: auto;
  display: flex;
  flex-direction: column;
}

.contentDetails {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.contentDetails p {
  margin: 0;
}

.contentDetails p:nth-child(1) {
  font-size: 12px;
  color: var(--black);
  font-weight: 500;
}

.contentDetails p:nth-child(2) {
  font-size: 9px;
  color: rgb(173, 173, 173);
  font-weight: 500;
}

.contentDetails p:nth-child(2)::before {
  content: "·";
  margin: 0 5px;
  font-weight: 600;
  font-size: 12px;
}

.messageContent > p {
  margin: 0;
  align-self: flex-start;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 0 8px 8px 8px;
  background-color: rgba(161, 36, 101, 0.2);
  color: var(--black);
}

.mine .messageContent > p {
  align-self: flex-end;
  border-radius: 8px 8px 0px 8px;
  background-color: rgba(204, 0, 27, 0.2);
}

.typing {
  height: 60px;
  flex-shrink: 0;
  border-top: 1px solid rgb(214, 214, 214);
  display: flex;
}

.typing input {
  all: unset;
  padding: 20px;
  flex-grow: 1;
  font-size: 16px;
  color: var(--black);
}

.typing button {
  all: unset;
  width: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(214, 214, 214);
  transition: all 0.12s ease-in-out;
  color: var(--black);
}

.typing button:hover {
  background-color: rgba(204, 0, 27, 0.2);
  color: var(--red);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
