.tasks {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.11);
  padding: 10px 25px;
  width: 35%;

  border-radius: 5px;
}

.taskCard {
  position: relative;
  background-color: #e5e5e5;
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.11);
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  transition: 0.5s all ease;
}

.taskCard:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.5);
}

.taskCard_Header h3 {
  margin: 0;
}
.taskCard_Header {
  display: flex;
  justify-content: space-between;
}

.taskCard_StoryPoints {
  background-color: #a12464;
  color: #f3f3f3;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 10px;

  display: flex;
  margin: auto;
  margin-right: 0;
}

.taskCard_ComplexColorLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.easy_win {
  background-color: #8eff7b;
}

.worth_persuing_later {
  background-color: #ffa53c;
}

.strategic_initiatives {
  background-color: #7befff;
}

.desprioritize {
  background-color: #ff6868;
}
