.ManagerView {
  background-color: #e5e5e5;
  padding: 10px 25px;
  margin-left: 180px;
  margin-top: 70px;
  overflow-x: scroll;
}

.ManagerView_Header {
  padding: 10px 20px;
  border-bottom: 2px solid #949494;
  margin-bottom: 50px;
}

.ManagerView_Body {
  display: flex;
  justify-content: flex-end;
}
