.hr{
    width: 1123px;
}

.adsHeader{
  margin-bottom: 50px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 20px;
  
}

.adTitle{
  margin: 23px;
  font-size: 35px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}